build/
*.pyc
doc/_build/*
dist/*
.idea/*
cadquery.egg-info/
target/*
.eggs/
.vscode
MANIFEST
out.*
res?.dxf
limit?.dxf
.~*
.*.swp
assy.wrl
assy.xml
assy.zip
nested.step
simple.caf
simple.step
simple.stp
simple.xml
test.brep
nested.caf
nested.glb
nested.stp
nested.wrl
nested.xml
nested.zip
nested.stl
nested.bin
nested_*.bin
nested_*.gltf
nested_*.glb
nested_*.stl
out1.3mf
out2.3mf
out3.3mf
orig.dxf
