build/
*.pyc
doc/_build/*
dist/*
.idea/*
cadquery.egg-info/
target/*
.vscode
MANIFEST
out.*
res?.dxf
.~*
assy.wrl
assy.xml
assy.zip
nested.step
simple.caf
simple.step
simple.stp
simple.xml
test.brep
nested.caf
nested.glb
nested.stp
nested.wrl
nested.xml
nested.zip
