shallow_clone: true

platform:
    - x64

environment:
    matrix:
        - PYTHON_VERSION: 3.6
          MINICONDA_DIRNAME: C:\Miniconda36-x64
        - PYTHON_VERSION: 3.7
          MINICONDA_DIRNAME: C:\Miniconda37-x64

    ANACONDA_TOKEN:
        secure: nxF/a2f3iS9KXGu7B/wKJYAk7Sm5wyAjoZoqJvPbRoVK4saaozVwOxDrjwJjJAYb

install:
    - set "PATH=%MINICONDA_DIRNAME%;%MINICONDA_DIRNAME%\\Scripts;%PATH%"
    - conda config --set always_yes yes
    - conda update -q conda
    - conda env create -f environment.yml
    - conda activate cadquery
    - conda install python=%PYTHON_VERSION%

build: false

test_script:
    - pytest -v --cov

on_success:
    - codecov