name: cadquery
channels:
  - cadquery
  - conda-forge
  - defaults
dependencies:
  - python>=3.6
  - ipython
  - ocp=7.5.3
  - pyparsing>=2.1.9
  - sphinx=4.4.0
  - sphinx_rtd_theme
  - black=19.10b0
  - click=8.0.4
  - mypy
  - codecov
  - pytest
  - pytest-cov
  - ezdxf
  - ipython
  - typing_extensions
  - nptyping>=2.0.0
  - nlopt
  - path
  - casadi
  - pip
  - pip:
    - "--editable=."
    - sphinxcadquery
    - multimethod
