name: cq
channels: !!python/tuple
- !!python/unicode
  'defaults'
dependencies:
- alabaster=0.7.10=py27_0
- anaconda-client=1.6.3=py27_0
- anaconda=custom=py27_0
- astroid=1.5.3=py27_0
- babel=2.5.0=py27_0
- backports=1.0=py27_0
- backports_abc=0.5=py27_0
- bleach=1.5.0=py27_0
- chardet=3.0.4=py27_0
- clyent=1.2.2=py27_0
- conda-forge::dbus=1.10.22=0
- conda-forge::expat=2.2.1=0
- conda-forge::fontconfig=2.12.1=4
- conda-forge::freetype=2.7=1
- conda-forge::gettext=0.19.7=1
- conda-forge::glib=2.51.4=0
- conda-forge::gst-plugins-base=1.8.0=0
- conda-forge::gstreamer=1.8.0=2
- conda-forge::icu=58.1=1
- conda-forge::jpeg=9b=0
- conda-forge::libffi=3.2.1=3
- conda-forge::libiconv=1.14=4
- conda-forge::libpng=1.6.28=0
- conda-forge::libxcb=1.12=1
- conda-forge::libxml2=2.9.4=4
- conda-forge::pcre=8.39=0
- conda-forge::qt=5
- conda-forge::sip=4.18=py27_1
- conda-forge::tbb=2017_20170226=0
- conda-forge::xorg-libxau=1.0.8=3
- conda-forge::xorg-libxdmcp=1.1.2=3
- conda-forge::xz=5.2.3=0
- configparser=3.5.0=py27_0
- decorator=4.1.2=py27_0
- dlr-sc::freeimageplus=3.17.0=0
- dlr-sc::gl2ps=1.3.8=1
- docutils=0.14=py27_0
- entrypoints=0.2.3=py27_0
- enum34=1.1.6=py27_0
- functools32=3.2.3.2=py27_0
- functools_lru_cache=1.4=py27_0
- get_terminal_size=1.0.0=py27_0
- html5lib=0.9999999=py27_0
- imagesize=0.7.1=py27_0
- ipykernel=4.6.1=py27_0
- ipython=5.3.0=py27_0
- ipython_genutils=0.2.0=py27_0
- ipywidgets=6.0.0=py27_0
- isort=4.2.15=py27_0
- jedi=0.10.2=py27_2
- jinja2=2.9.6=py27_0
- jsonschema=2.6.0=py27_0
- jupyter=1.0.0=py27_3
- jupyter_client=5.1.0=py27_0
- jupyter_console=5.2.0=py27_0
- jupyter_core=4.3.0=py27_0
- lazy-object-proxy=1.3.1=py27_0
- libgcc=5.2.0=0
- libsodium=1.0.10=0
- markupsafe=1.0=py27_0
- mistune=0.7.4=py27_0
- nbconvert=5.2.1=py27_0
- nbformat=4.4.0=py27_0
- notebook=5.0.0=py27_0
- numpydoc=0.7.0=py27_0
- oce::oce=0.18.1=1
- openssl=1.0.2l=0
- pandocfilters=1.4.2=py27_0
- path.py=10.3.1=py27_0
- pathlib2=2.3.0=py27_0
- pep8=1.7.0=py27_0
- pexpect=4.2.1=py27_0
- pickleshare=0.7.4=py27_0
- pip=9.0.1=py27_1
- prompt_toolkit=1.0.15=py27_0
- psutil=5.2.2=py27_0
- ptyprocess=0.5.2=py27_0
- pycodestyle=2.3.1=py27_0
- pyface=5.1.0=py27_0
- pyflakes=1.6.0=py27_0
- pygments=2.2.0=py27_0
- pylint=1.7.2=py27_0
- pyparsing=2.2.0=py27_0
- pyqt=5.6.0=py27_2
- python=2.7.13=0
- python-dateutil=2.6.1=py27_0
- pythonocc::pythonocc-core=0.18=py27_0
- pythonocc::smesh=6.7.4=0
- pytz=2017.2=py27_0
- pyyaml=3.12=py27_0
- pyzmq=16.0.2=py27_0
- qtawesome=0.4.4=py27_0
- qtconsole=4.3.1=py27_0
- qtpy=1.3.1=py27_0
- readline=6.2=2
- requests=2.14.2=py27_0
- rogerramos::future=0.16.0=py27_3
- rope=0.9.4=py27_1
- scandir=1.5=py27_0
- setuptools=27.2.0=py27_0
- simplegeneric=0.8.1=py27_1
- singledispatch=3.4.0.3=py27_0
- six=1.10.0=py27_0
- snowballstemmer=1.2.1=py27_0
- sphinx=1.6.3=py27_0
- sphinxcontrib=1.0=py27_0
- sphinxcontrib-websupport=1.0.1=py27_0
- spyder=3.2.1=py27_0
- sqlite=3.13.0=0
- ssl_match_hostname=3.5.0.1=py27_0
- terminado=0.6=py27_0
- testpath=0.3.1=py27_0
- tk=8.5.18=0
- tornado=4.5.1=py27_0
- traitlets=4.3.2=py27_0
- traits=4.6.0=py27_0
- traitsui=5.1.0=py27_0
- typing=3.6.2=py27_0
- wcwidth=0.1.7=py27_0
- wheel=0.29.0=py27_0
- widgetsnbextension=3.0.1=py27_0
- wrapt=1.10.11=py27_0
- yaml=0.1.6=0
- zeromq=4.1.5=0
- pip:
  - backports-abc==0.5
  - backports.functools-lru-cache==1.4
  - backports.shutil-get-terminal-size==1.0.0
  - backports.ssl-match-hostname==3.5.0.1
  - ipython-genutils==0.2.0
  - jupyter-client==5.1.0
  - jupyter-console==5.2.0
  - jupyter-core==4.3.0
  - prompt-toolkit==1.0.15
  - pyqode.core==2.11.0
  - pyqode.python==2.10.0
  - pyqode.qt==2.10.0

