name: cadquery
channels:
  - conda-forge
dependencies:
  - python>=3.9,<=3.12
  - ipython
  - ocp=7.8.1
  - vtk=*=qt*
  - pyparsing>=2.1.9
  - sphinx=8.1.3
  - sphinx_rtd_theme
  - mypy
  - codecov
  - pytest
  - pytest-cov
  - ezdxf>=1.3.0
  - typing_extensions
  - nlopt
  - path
  - casadi
  - typish
  - multimethod >=1.11,<2.0
  - typed-ast
  - regex
  - pathspec
  - click
  - appdirs
  - pip
  - pip:
    - --editable=.
    - git+https://github.com/cadquery/black.git@cq
