name: cadquery
channels:
  - conda-forge
dependencies:
  - python>=3.10
  - ipython
  - ocp=7.8.1
  - vtk=*=qt*
  - pyparsing>=2.1.9
  - sphinx=9.0.4
#  - sphinx_rtd_theme=3.1.0
  - mypy
  - codecov
  - pytest
  - pytest-cov
  - ezdxf>=1.3.0
  - typing_extensions
  - nlopt
  - path
  - casadi
  - typish
  - multimethod >=1.11,<2.0
  - typed-ast
  - regex
  - pathspec
  - click
  - appdirs
  - trame
  - trame-vtk
  - pip
  - pip:
    - sphinx_rtd_theme==3.1.0rc1
    - --editable=.
    - git+https://github.com/cadquery/black.git@cq
