name: cadquery
channels:
  - cadquery
  - conda-forge
  - defaults
dependencies:
  - python>=3.6
  - ipython
  - ocp=7.5.1
  - pyparsing>=2.1.9
  - sphinx=4.2.0
  - sphinx_rtd_theme
  - black=19.10b0
  - mypy
  - codecov
  - pytest
  - pytest-cov
  - ezdxf
  - ipython
  - typing_extensions
  - nptyping
  - nlopt
  - path
  - pip
  - pip:
    - "--editable=."
    - sphinxcadquery
